html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

#map {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    width: 100%;
    height: 400px;
}

#site {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    position: relative;
    z-index: 2;
    pointer-events: none;
}

#site #masthead {
    position:fixed;
    top: 30%;
    left: 10%;
    width: 20%;
}

#site #masthead a {
    pointer-events: auto;
}

#site #masthead h1 {
    margin: 0;
    font-size: 42px;
}

#site .content {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 50%;
    pointer-events: auto;
}

/*
section {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position: relative;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding:10em 10em 10em 15em;
}


section.intro {
	height: 100%;
	background: url('../images/map-snapshot1.png');
	text-align: right;
}

section .inner {
	position: absolute;
	left: 60em;
	top: 10em;
	width: 30em;
	height: 10em;
	padding: 20px;
	background-color: #fff;
}*/